absl-py==0.11.0
antiorm==1.2.1
appdirs==1.4.4
APScheduler==3.7.0
astunparse==1.6.3

cached-property==1.5.2
cachetools==4.2.1
catalogue==2.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
colorhash==1.0.3
configparser==5.0.1
contextvars==2.4
cymem==2.0.5
db==0.1.1
db-sqlite3==0.0.1
distlib==0.3.1
filelock==3.0.12
Flask==1.1.2
Flask-Cors==3.0.10

flatbuffers==1.12
gast==0.3.3
google-auth==1.27.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.32.0
gunicorn==20.0.4
h5py==2.10.0
idna==2.10
immutables==0.15
importlib-metadata==3.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
Keras==2.4.3
Keras-Applications==1.0.8
keras-models==0.0.7
Keras-Preprocessing==1.1.2
Markdown==3.3.3
MarkupSafe==1.1.1
murmurhash==1.0.5

numpy==1.18.5
oauthlib==3.1.0

opt-einsum==3.3.0
packaging==20.9
pandas==1.0.1
pathlib==1.0.1
pathy==0.4.0
Pillow==8.1.0
pip-autoremove==0.9.1
preshed==3.0.5
protobuf==3.15.2
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pydantic==1.7.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.1
scipy==1.4.1
six==1.15.0
smart-open==3.0.0
spacy==3.0.3
spacy-legacy==3.0.1

srsly==2.4.0
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
termcolor==1.1.0
thinc==8.0.1
tqdm==4.57.0
typer==0.3.2
typing-extensions==3.7.4.3
tzlocal==2.1
urllib3==1.26.3

wasabi==0.8.2
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.4.0
